# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
*.jsbundle

# Tauri / Rust
src-tauri/target/
src-tauri/gen/

# Testing
/coverage

# Editor / OS
.DS_Store
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
